<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Tower Stacking</title>
	<script src="//cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

class Controller extends Phaser.Scene{
	constructor(){
		super('Controller');
	}

	preload(){
		this.load.image("background_1", "static/assets/images/background1.png");
		this.load.image("background_2", "static/assets/images/background2.png");
		this.load.image("background_3", "static/assets/images/background3.png");
		this.load.image("background_4", "static/assets/images/background4.png");
		this.load.image("background_5", "static/assets/images/background5.png");

		this.load.spritesheet('icon', 'static/assets/images/icon.png', { frameWidth: 152, frameHeight: 152});

		this.load.image("block", "static/assets/images/tile_long.png");
		this.load.image("btn_go_out", "static/assets/images/btn_go_out.png");
		this.load.image("btn_home", "static/assets/images/btn_home.png");
		this.load.image("btn_start", "static/assets/images/btn_start.png");
		this.load.image("card_character", "static/assets/images/card_character.png");
		this.load.image("btn_character", "static/assets/images/btn_character.png");
		this.load.image("square", "static/assets/images/square.png");
		this.load.image("btn_extralife", "static/assets/images/btn_extralife.png");
		this.load.image("start_block2", "static/assets/images/startBlock2.png");
		this.load.image("start_block3", "static/assets/images/startBlock3.png");
		this.load.atlas('sheet', "static/assets/images/startBlock2.png", "static/assets/images/startBlock2.json");
		this.load.atlas('sheet3', "static/assets/images/startBlock3.png", "static/assets/images/startBlock3.json");

		this.load.json("start_block_shape", "static/assets/images/startBlockShape.json");
		this.load.json("start_block_shape3", "static/assets/images/startBlockShape3.json");


		console.log("load all images");
	}

	create(){
		this.scene.start("Menu");
		console.log("menu scene started");
	}
}

let game_character = 'char00';
class Menu extends Phaser.Scene {
	constructor (){
		super ('Menu');
	}
	create(){
		console.log("MENU");
		let sp = this.physics.add.sprite(130, 100, 'icon', 6);
		console.log("why no sprite");
		console.log(sp);
		const color_filter = 0x888888;
    	this.add.image(config.width/2, config.height/2, 'background_1').setScale(0.5).setTint(color_filter);
    	this.add.text(130, 80, 'Tower Stacking', {fontSize: '40px', fill:'#000', boundsAlignW:"center"});

		let btn_go_out = this.add.image(60, 60, 'btn_go_out').setScale(0.6);
		let btn_start = this.add.image(config.width/2, config.height * 0.6, 'btn_start').setScale(1.2);
		let btn_character = this.add.image(config.width/2, config.height * 0.9, 'btn_character').setScale(0.7);

  	btn_start.setInteractive();
		btn_character.setInteractive();

  	btn_start.on('pointerup', function(){
  		game.scene.stop("Menu");
			game.scene.start("PlayGame");
  	});
		btn_character.on('pointerup', function(){
			console.log("btn_cahra");
			game.scene.pause("Menu");
			game.scene.start("CharacterOption");
			game.scene.bringToTop("CharacterOption");
		});
	}
}
var blocks;
var block;
var blockDropStart = false;
var blockMoving = true;
var score = 0;
var dropNum = 5;
var scoreText;
var dropText;
var cam;
var life_left = 2;


var baseBlock;
var baseBlockId;

class PlayGame extends Phaser.Scene {
	constructor(){
		super({
			key: "PlayGame",

			physics : {
				arcade:{
					debug : true,
					gravity : {y:200}
				},
				matter :{
					debug : true,
					gravity : {y:1}
				}
			}
		});

	}
	create(){
		blockDropStart = false;
		blockMoving = true;
		score = 0;
		dropNum = 5;
		life_left = 2;

		//---
		console.log("PLAYGAME");
    	this.add.image(config.width/2, config.height/2, 'background_1').setScale(0.5);
    	// start block
			if(game_character === "char00" || game_character === 'char03'){
	    	var startBlock = this.arcade.add.image(config.width/2, config.height-25, 'block').setStatic(true).setFriction(100).setBounce(0);
	    	startBlock.scaleX = 2;
			}
			else if(game_character =="char01"){
				let startBlockShape = this.cache.json.get("start_block_shape");
				var startBlock = this.matter.add.sprite(config.width/2, config.height-25, "sheet",'start_block2', {shape:startBlockShape.startBlock2}).setStatic(true).setFriction(100).setBounce(0);
			}
			else{
				let startBlockShape3 = this.cache.json.get("start_block_shape3");
				var startBlock = this.matter.add.sprite(config.width/2, config.height-25, "sheet3",'start_block3', {shape:startBlockShape3.startBlock3}).setStatic(true).setFriction(100).setBounce(0);

			}
			// base block
			baseBlock = this.matter.add.image(config.width/2, config.height + 100 , 'block').setStatic(true).setFriction(100).setBounce(0);
			baseBlockId = baseBlock.body.id;
			baseBlock.scaleX = 5;

    	// game block
    	blocks = this.add.group();

    	block = this.add.existing(new Block(this, -10, config.height/2, 'square'));

    	blocks.add(block);

    	cam = this.cameras.main;
    	this.matter.world.on('collisionstart', function(event, bodyA, bodyB){
				// block dropping check
				if(block.body.id === bodyA.id || block.body.id===bodyB.id){
					blockDropStart = false;
				}
				// block fall off check
				if(bodyA.id === baseBlockId){
					bodyB.destroy();
					dropNum = dropNum - 1;
					score = score - 1;
					scoreText.setText('Score : '+ score);
					dropText.setText('Left Drop Number : '+ dropNum);
				}
				if(bodyB.id === baseBlockId){
					bodyA.destroy();
					dropNum = dropNum - 1;
					score = score - 1;
					scoreText.setText('Score : '+ score);
					dropText.setText('Left Drop Number : '+ dropNum);
				}

    	})
    	scoreText = this.add.text(cam.scrollY+16,16, 'Score : 0', {fontSize: '32px', fill:'#000'});
    	scoreText.setScrollFactor(0);
    	dropText = this.add.text(cam.scrollY+16,50, 'Left Drop Number : 5', {fontSize: '32px', fill:'#000'});
    	dropText.setScrollFactor(0);

	}
	update(){
		if(block.y >= config.height){
			blockDropStart = false;
		}
		this.input.on('pointerdown', function(pointer){
			if(blockDropStart === false && blockMoving === true){
				blockDropStart = true;
				blockMoving = false;
				block.setIgnoreGravity(false);
				block.setVelocityX(0);
				// block.setVelocityY(20);
			}
		})
		if(blockDropStart === false && blockMoving === false){
			// new block needed
			blockMoving = true;

			block = this.add.existing(new Block(this, -10, config.height/2, 'square'));
			//camera scroll up
			// if(score > 5){
   //  			cam.scrollY = cam.scrollY -57;
			// }
			score = score+1;
			scoreText.setText('Score : '+ score);

		}else if(blockDropStart === false && blockMoving === true){
			if(block.x >= config.width){
				block.setVelocityX(-20);
			}else if(block.x <= -10){
				block.setVelocityX(20);
			}
		}

		if(dropNum === 0){
			life_left = life_left - 1;

			if(life_left === 0){
				scoreText.destroy();
				dropText.destroy();
				game.scene.start("GameOver");
				game.scene.pause("PlayGame");
				game.scene.bringToTop("GameOver");
			}else{
				game.scene.pause("PlayGame");
				game.scene.start("GameOver");
				game.scene.bringToTop("GameOver");
			}
		}


	}

}

class Block extends Phaser.Physics.Matter.Image{
	constructor(scene, posX, posY, key){
		super (scene.matter.world, posX, posY, key);

		this.setIgnoreGravity(true);
		this.setVelocityX(20);
		this.setFriction(1000);
		this.setBounce(0);
		this.setMass(2000);
		this.setDensity(1000);

	}
}

class GameOver extends Phaser.Scene {
	constructor(){
		super('GameOver');
	}
	create(){
		console.log("GAMEOVER");
		this.cameras.main.setBackgroundColor('rgba(0, 0, 0, 0.5)');
		let btn_go_home = this.add.image(config.width * 0.5, config.height * 0.9, 'btn_home').setScale(0.7);
		let scoreText2 = this.add.text(cam.scrollY+16,50, 'Score : '+score, {fontSize: '50px', fill:'#000'});
		btn_go_home.setInteractive();
		btn_go_home.on('pointerup', function(){
			game.scene.start("Menu");
			game.scene.bringToTop("Menu");
			game.scene.stop("GameOver");
			game.scene.stop("PlayGame");
		});
		if(life_left >= 1){
			let btn_life_plus = this.add.image(config.width/2, config.height/2, 'btn_extralife').setScale(1);
			btn_life_plus.setInteractive();
			btn_life_plus.on("pointerup", function(){
				game.scene.resume("PlayGame");
				game.scene.stop("GameOver");
				game.scene.bringToTop("PlayGame");

				blockDropStart = false;
				blockMoving = true;
				dropNum = 5;
				// scoreText.setActive(true);
				dropText.setText('Left Drop Number : '+ dropNum);

			})
		}
	}
}

class Result extends Phaser.Scene {
	constructor(){
		super('Result');
	}
}

class CharacterOption extends Phaser.Scene {
	constructor(){
		super('CharacterOption');
	}
	create(){
		console.log("CHARACTER OPTION");
		let background_rect = this.add.rectangle(config.width/2, config.height/2, config.width, config.height, 0x000000, 0.3);
		let card_character  = this.add.sprite(config.width/2, config.height/2, 'card_character').setScale(0.9);

		background_rect.setInteractive();
		background_rect.on('pointerup', function() {
			game.scene.resume('Menu');
			game.scene.stop('CharacterOption');
		});

		this.color_filter = 0x333333;

		this.char00 = this.add.image(config.width / 2 - 100, config.height / 2 - 100 , 'block').setTint(this.color_filter);
		this.char01 = this.add.image(config.width / 2 + 100, config.height / 2 - 100 , 'start_block2').setTint(this.color_filter);
		this.char02 = this.add.image(config.width / 2 - 100, config.height / 2 + 100 , 'start_block3').setTint(this.color_filter);
		this.char03 = this.add.image(config.width / 2 + 100, config.height / 2 + 100 , 'start_block2').setTint(this.color_filter);
		this.char00.scaleX = 0.8;
		this.char01.scaleX = 0.4;
		this.char02.scaleX = 0.4;
		this.char03.scaleX = 0.4;



		this.char00.setInteractive();
		this.char01.setInteractive();
		this.char02.setInteractive();
		this.char03.setInteractive();

		this.char00.on("pointerup", function(){
			console.log("click char00");
			game_character = "char00";
		});
		this.char01.on("pointerup", function(){
			console.log("click char01");
			game_character = "char01";
		});
		this.char02.on("pointerup", function(){
			game_character = "char02";
		});
		this.char03.on("pointerup", function(){
			game_character = "char03";
		});
	}
	update(){
		switch (game_character) { // 지금 선택된 개릭터 필터제거
			case "char01":
				this.char00.setTint(this.color_filter);
				this.char01.clearTint();
				this.char02.setTint(this.color_filter);
				this.char03.setTint(this.color_filter);
				break;
			case "char02":
				this.char00.setTint(this.color_filter);
				this.char01.setTint(this.color_filter);
				this.char02.clearTint();
				this.char03.setTint(this.color_filter);
				break;
			case "char03":
				this.char00.setTint(this.color_filter);
				this.char01.setTint(this.color_filter);
				this.char02.setTint(this.color_filter);
				this.char03.clearTint();
				break;
			default: //"char00"
				this.char00.clearTint();
				this.char01.setTint(this.color_filter);
				this.char02.setTint(this.color_filter);
				this.char03.setTint(this.color_filter);
		}
	}
}


let config = {
	type: Phaser.AUTO, //WEBGL
	width: 540,
	height: 960,
	scale: {
		// mode: Phaser.Scale.WIDTH_CONTROLS_HEIGHT,
		// mode: Phaser.Scale.HEIGHT_CONTROLS_WIDTH,
		mode: Phaser.Scale.FIT,
		autoCenter: Phaser.Scale.CENTER_BOTH,
		parent: 'load_game_div',// div의 id값
		width: 540,
		height: 960
	},
	// backgroundColor: 0x0c88c7,
	audio: {
		disableWebAudio: true
	},
	physics: {
		default : 'arcade'
	},
	scene: [Controller, Menu, PlayGame, GameOver, Result, CharacterOption]

};

let game = new Phaser.Game(config);


</script>

</body>
</html>
