<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Tower Stacking</title>
	<script src="//cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

class Controller extends Phaser.Scene{
	constructor(){
		super('Controller');
	}

	preload(){
		// image, spritesheet, audoi LOAD
		// LOAD in this Controller scene only!

		this.load.image("background_1", "static/assets/images/background_1.png");
		this.load.image("background_2", "static/assets/images/background_2.png");
		this.load.image("background_5", "static/assets/images/background_5.png");
		this.load.image("background_6", "static/assets/images/background_6.png");
		this.load.image("block", "static/assets/images/tile_long.png");
		this.load.image("btn_go_out", "static/assets/images/btn_go_out.png");
		this.load.image("btn_home", "static/assets/images/btn_home.png");
		this.load.image("btn_start", "static/assets/images/btn_start.png");
		this.load.image("square", "static/assets/images/square.png");
		console.log("load all images");
	}

	create(){
		this.scene.start("Menu");
		console.log("menu scene started");
	}
}

let gamePlayed = false;
class Menu extends Phaser.Scene {
	constructor (){
		super ('Menu');
	}
	create(){
		console.log("MENU");

		const color_filter = 0x888888;
    	this.add.image(config.width/2, config.height/2, 'background_1').setScale(0.5).setTint(color_filter);
    	this.add.text(130, 80, 'Tower Stacking', {fontSize: '40px', fill:'#000', boundsAlignW:"center"});

		let btn_go_out = this.add.image(60, 60, 'btn_go_out').setScale(0.6);
		let btn_start = this.add.image(config.width/2, config.height * 0.6, 'btn_start').setScale(1.2);

    	btn_start.setInteractive();

    	btn_start.on('pointerup', function(){
				console.log("gmaeplayed : ", gamePlayed);
    		game.scene.stop("Menu");
				// if(gamePlayed === true){
				// 	game.scene.resume("PlayGame");
				// }else{
				// 	game.scene.start("PlayGame");
				// }
				game.scene.start("PlayGame");
    	});
	}
}
var blocks;
var block;
var blockDropStart = false;
var blockMoving = true;
var collisionNum = 0;
var score = 0;
var dropNum = 0;
var scoreText;
var dropText;
var cam;
var blockHeightLow = false;

var baseBlock;

class PlayGame extends Phaser.Scene {
	constructor(){
		super({
			key: "PlayGame",

			physics : {
				arcade:{
					debug : true,
					gravity : {y:200}
				},
				matter :{
					debug : true,
					gravity : {y:1}
				}
			}
		});

	}
	create(){
		blockDropStart = false;
		blockMoving = true;
		collisionNum = 0;
		score = 0;
		dropNum = 0;
		blockHeightLow = false;

		console.log("PLAYGAME");
			gamePlayed = true;
    	this.add.image(config.width/2, config.height/2, 'background_1').setScale(0.5);
    	// start block
    	var startBlock = this.matter.add.image(config.width/2, config.height-25, 'block').setStatic(true).setFriction(100).setBounce(0).setTint('0x000000');
    	startBlock.scaleX = 2;

			// base block
			baseBlock = this.matter.add.image(config.width/2, config.height + 100 , 'block').setStatic(true).setFriction(100).setBounce(0);
			let baseBlockId = baseBlock.body.id;
			baseBlock.scaleX = 5;

    	// game block
    	blocks = this.add.group();

    	block = this.add.existing(new Block(this, -10, config.height/2, 'square'));

    	blocks.add(block);

    	cam = this.cameras.main;
    	this.matter.world.on('collisionstart', function(event, bodyA, bodyB){
				// block dropping check
				if(block.body.id === bodyA.id || block.body.id===bodyB.id){
					blockDropStart = false;
				}
				// block fall off check
				if(bodyA.id === baseBlockId){
					bodyB.destroy();
					console.log("dopped");
					dropNum = dropNum + 1;
					score = score - 1;
					scoreText.setText('Score : '+ score);
					dropText.setText('Drop Number : '+ dropNum);
				}
				if(bodyB.id === baseBlockId){
					bodyA.destroy();
					console.log("dopped");
					dropNum = dropNum + 1;
					score = score - 1;
					scoreText.setText('Score : '+ score);
					dropText.setText('Drop Number : '+ dropNum);
				}

    	})
    	scoreText = this.add.text(cam.scrollY+16,16, 'Score : 0', {fontSize: '32px', fill:'#000'});
    	scoreText.setScrollFactor(0);
    	dropText = this.add.text(cam.scrollY+16,50, 'Drop Number : 0', {fontSize: '32px', fill:'#000'});
    	dropText.setScrollFactor(0);

	}
	update(){
		if(block.y <= config.height/2 +20){
			blockHeightLow = true;
		}
		if(block.y >= config.height){
			blockDropStart = false;
		}
		this.input.on('pointerdown', function(pointer){
			if(blockDropStart === false && blockMoving === true){
				blockDropStart = true;
				blockMoving = false;
				block.setIgnoreGravity(false);
				block.setVelocityX(0);
				// block.setVelocityY(20);
			}
		})
		if(blockDropStart === false && blockMoving === false){
			// new block needed
			blockMoving = true;

			block = this.add.existing(new Block(this, -10, config.height/2, 'square'));
			//camera scroll up
			// if(score > 5){
   //  			cam.scrollY = cam.scrollY -57;
			// }
			score = score+1;
			scoreText.setText('Score : '+ score);

		}else if(blockDropStart === false && blockMoving === true){
			if(block.x >= config.width){
				block.setVelocityX(-20);
			}else if(block.x <= -10){
				block.setVelocityX(20);
			}
		}

		if(dropNum === 5){
			scoreText.destroy();
			dropText.destroy();

			const color_filter = 0x888888;
	    // this.setTint(color_filter);

			game.scene.start("GameOver");
			game.scene.pause("PlayGame");
			game.scene.bringToTop("GameOver");
		}


	}

}

class Block extends Phaser.Physics.Matter.Image{
	constructor(scene, posX, posY, key){
		super (scene.matter.world, posX, posY, key);

		this.setIgnoreGravity(true);
		this.setVelocityX(20);
		this.setFriction(1000);
		this.setBounce(0);
		this.setMass(2000);
		this.setDensity(1000);

	}
}

class GameOver extends Phaser.Scene {
	constructor(){
		super('GameOver');
	}
	create(){
		console.log("GAMEOVER");
		this.cameras.main.setBackgroundColor('rgba(0, 0, 0, 0.5)');
		let btn_go_home = this.add.image(config.width * 0.5, config.height * 0.9, 'btn_home').setScale(0.7);
		scoreText = this.add.text(cam.scrollY+16,50, 'Score : '+score, {fontSize: '50px', fill:'#000'});
		btn_go_home.setInteractive();
		btn_go_home.on('pointerup', function(){
			game.scene.start("Menu");
			game.scene.bringToTop("Menu");
			game.scene.stop("GameOver");
			game.scene.stop("PlayGame");
		});
	}
}

class Result extends Phaser.Scene {
	constructor(){
		super('Result');
	}
}

class CharacterOption extends Phaser.Scene {
	constructor(){
		super('CharacterOption');
	}
}


let config = {
	type: Phaser.AUTO, //WEBGL
	width: 540,
	height: 960,
	scale: {
		// mode: Phaser.Scale.WIDTH_CONTROLS_HEIGHT,
		// mode: Phaser.Scale.HEIGHT_CONTROLS_WIDTH,
		mode: Phaser.Scale.FIT,
		autoCenter: Phaser.Scale.CENTER_BOTH,
		parent: 'load_game_div',// div의 id값
		width: 540,
		height: 960
	},
	// backgroundColor: 0x0c88c7,
	audio: {
		disableWebAudio: true
	},
	physics: {
		default : 'arcade'
	},
	scene: [Controller, Menu, PlayGame, GameOver, Result, CharacterOption]

};

let game = new Phaser.Game(config);


</script>

</body>
</html>
